<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info">

    <targets>
        <target xsi:type="Console"
                name="consoleTarget"
                layout="${longdate} [${uppercase:${level}}] ${logger:shortName=true}: ${message} ${exception:format=tostring}"/>
    </targets>

    <!-- Правила логирования -->
    <rules>
        <!-- Системные логи Microsoft с уровнем Warning и выше -->
        <logger name="Microsoft.*" maxlevel="Info" final="true"/>
        <logger name="System.Net.Http.*" maxlevel="Info" final="true"/>

        <!-- Все остальные логи в консоль -->
        <logger name="*" minlevel="Info" writeTo="consoleTarget"/>
    </rules>

</nlog>